<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Login with Google</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="44556083146-d5lct3tomg55ja6tj68rtukqsmel5503.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">

</head>

<body>
<div class="wrapper" style="max-width:1000px; margin:auto; padding:100px;">
{% block content %}
{% endblock %}
</div>
{%  block scripts %}
{% endblock %}
</body>
</html>