{% extends 'ExternalAuthExample::layout' %}
{% block content %}
    <div class="columns">
        <div class="column">
            <div class="container is-fluid">
                <h4 class="title is-4">Login with your email & password</h4>
                <form action="/credentials_signin" method="post">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" name="email" placeholder="johndoe@example.com">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password">
                        </div>
                    </div>
                    <div class="control">
                        <input type="submit" class="button is-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        <div class="column">
            <div class="container is-fluid">
                <h4 class="title is-4">Or login using Google</h4>
                <br><br>
                <div class="g-signin2" data-onsuccess="onGoogleSignInSuccess"></div><br>
                <button class="button is-primary" onclick="login()">Log in with Google!</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    var google_id_token = null;
    function onGoogleSignInSuccess(googleUser) {
        google_id_token = googleUser.getAuthResponse().id_token;
    }

    function login() {
        if (google_id_token === null) {
            alert('Please log in to google first.');
            return;
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/token_signin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            location.href = '/home';
        };
        xhr.send('idtoken=' + google_id_token);
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>
{% endblock %}
